<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자용 공지사항 등록 페이지</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- 웹폰트 및 아이콘 -->
    <%- include("common/icon_font.ejs") %>
</head>
<body>
    <!-- 상단영역 -->
    <%- include("common/header.ejs") %>
    <div id="container">
        <div class="notice_form_area">
            <div class="center">
                <form id="admin_notice_form" action="/add/notice" method="post">
                    <!-- 공지사항 제목 -->
                    <label for="notice_title">공지사항 제목</label>
                    <input type="text" class="notice_title" name="notice_title">
                    <!-- 공지사항 내용 -->
                    <label for="notice_context">공지사항 내용</label>
                    <textarea name="notice_context" class="notice_context"></textarea>

                    <button class="notice_btn" type="submit">공지사항 등록</button>
                </form>
                <div class="notice_list_wrap">
                    <% for(let i=0; i<ntiData.length; i++){ %>
                        <div class="notice_list">
                            <div class="left">
                                <div class="no">번호</div>
                                <div class="title">제목</div>
                                <div class="author_id">작성자 아이디</div>
                                <div class="author">작성자 닉네임</div>
                                <div class="review">조회수</div>
                                <div class="date">작성날짜</div>
                                <div class="context">내용</div>
                            </div>
                            <div class="right">
                                <p class="no"><%- ntiData[i].notice_no %></p>
                                <p class="title"><%- ntiData[i].notice_title %></p>
                                <p class="author_id"><%- ntiData[i].notice_author_id %></p>
                                <p class="author"><%- ntiData[i].notice_author %></p>
                                <p class="review"><%- ntiData[i].notice_review %></p>
                                <p class="date"><%- ntiData[i].notice_date %></p>
                                <p class="context"><%- ntiData[i].notice_context %></p>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <!-- 하단영역 -->
    <%- include("common/footer.ejs") %>
</body>
</html>