<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자용 매장 등록 페이지</title>
</head>
<body>
    <form id="admin_store_form" action="/add/store" method="post" enctype="multipart/form-data">
        <!-- 매장이름 -->
        <label for="name">매장 이름</label>
        <input type="text" class="name" name="name">

        <!-- 매장 사진 -->
        <label for="file">매장 사진</label>
        <input type="file" class="file" name="file">

        <!-- 매장 전화번호 -->
        <label for="tell">매장 전화번호</label>
        <input type="text" class="tell" name="tell">
        
        <!-- 매장 오시는 길 -->
        <label for="load">오시는 길</label>
        <input type="text" class="load" name="load">

        <!-- 매장위치 시/도 -->
        <label for="sido">매장위치 시/도</label>
        <select name="sido" id="sido">
            <option value>시/도 선택</option>
        </select>

        <!-- 매장위치 구/군 -->
        <label for="gugun">매장위치 구/군</label>
        <select name="gugun" id="gugun">
            <option value>구/군 선택</option>
        </select>

        <!-- 상세주소 -->
        <input type="text" id="sample6_postcode" style="display:none" placeholder="우편번호">
        <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
        <input type="text" id="sample6_address" name="address"a placeholder="주소"><br>
        <input type="text" id="sample6_detailAddress" style="display:none" placeholder="상세주소">
        <input type="text" id="sample6_extraAddress" style="display:none" placeholder="참고항목">

        <button class="store" type="submit">매장 등록</button>
    </form>
    <div class="store_list_wrap">
        <% for(let i=0; i<stData.length; i++){ %>
            <div class="store_list">
                <img src="/upload/<%- stData[i].store_file %>" alt="">
                <p class="store_no"><%- stData[i].store_no %></p>
                <p class="store_name"><%- stData[i].store_name %></p>
                <p class="store_tell"><%- stData[i].store_tell %></p>
                <p class="store_load"><%- stData[i].store_load %></p>
                <p class="store_sido"><%- stData[i].store_sido %></p>
                <p class="store_gugun"><%- stData[i].store_gugun %></p>
                <p class="store_address"><%- stData[i].store_address %></p>
            </div>
        <% } %>
    </div>
    <!-- js -->
    <script src="/js/hangjungdong.js"></script>
    <script src="/js/store.js"></script>
    <!-- 다음 우편주소 api -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function sample6_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    let addr = ''; // 주소 변수
                    let extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if(data.userSelectedType === 'R'){
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if(data.buildingName !== '' && data.apartment === 'Y'){
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if(extraAddr !== ''){
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        // 조합된 참고항목을 해당 필드에 넣는다.
                        document.getElementById("sample6_extraAddress").value = extraAddr;
                    
                    } else {
                        document.getElementById("sample6_extraAddress").value = '';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('sample6_postcode').value = data.zonecode;
                    document.getElementById("sample6_address").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("sample6_detailAddress").focus();
                }
            }).open();
        }
    </script>
</body>
</html>