<!-- 로그인해야 들어올 수 있음 -->
<% if(!userData){ %>
    <script>
        alert("회원만 이용할 수 있는 페이지입니다.");
        location.href = "/login";
    </script>
<% } %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤트 안내게시판</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- 웹폰트 및 아이콘 -->
    <%- include("common/icon_font.ejs") %>
</head>
<body>
    <!-- 상단 영역 -->
    <%- include("common/header.ejs") %>
    <!-- 중간 영역 -->
    <div id="container">
        <div class="event_area">
            <div class="center">
                <%- include("common/event_left.ejs") %>
                <div class="right">
                    <h2 class="title">이벤트</h2>
                    <div class="ad"><a href="#"><img src="/img/event_ad.jpg" alt=""></a></div>
                    <div class="event_data_wrap">
                        <% for(let i=0; i<evtData.length; i++){ %>
                            <div class="admin_event_box">
                                <a href="/event/detail/<%- evtData[i].event_no %>">
                                    <h3 class="e_title"><%- evtData[i].event_title %></h3>
                                    <p class="date"><%- evtData[i].event_date %></p>
                                    <p class="review">조회수 : <%- evtData[i].event_review %></p>
                                </a>
                            </div>
                        <% } %>
                        <% if(userData){ %>
                            <% if(userData.join_id == "admin"){ %>
                                <a class="admin_btn" href="/admin/event">이벤트 등록하러 가기</a>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 하단 영역 -->
    <%- include("common/footer.ejs") %>
</body>
</html>