<!-- 로그인해야 들어올 수 있음 -->
<% if(!userData){ %>
    <script>
        alert("회원만 이용할 수 있는 페이지입니다.");
        location.href = "/login";
    </script>
<% } %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤트 상세페이지</title>
</head>
<body>
    <!-- 중간 영역 -->
    <div id="container">
        <div class="center">
            <div class="event_detail_wrap">
                <div class="admin_event_box">
                    <p class="no"><%- evtData.event_no %></p>
                    <h2 class="title"><%- evtData.event_title %></h2>
                    <!-- 나중에 스타일 지우기 -->
                    <img class="file" src="/upload/<%- evtData.event_file %>" style="width:100px; height:100px;" alt="">
                    <p class="context"><%- evtData.event_context %></p>
                    <p class="review"><%- evtData.event_riview %></p>
                </div>
                <% if(userData){ %>
                    <% if(userData.join_id == "admin"){ %>
                    <div class="admin_btn_set">
                        <a class="upt_btn" href="/event/update/<%- evtData.event_no %>">수정</a>
                        <a class="del_btn" href="/event/delete/<%- evtData.event_no %>">삭제</a>
                    </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
    <!-- js -->
    <script src="/js/del_btn.js"></script>
</body>
</html>