<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 목록페이지</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- 웹폰트 및 아이콘 -->
    <%- include("common/icon_font.ejs") %>
</head>
<body>
    <!-- 상단영역 -->
    <%- include("common/header.ejs") %>
    <!-- 중간영역 -->
    <div id="container">
        <div class="notice_wrap">
            <div class="left">
                <div class="otp_box">
                    <p>고객님<br>소중한 정보를 위해<br>OTP설정하러 가요</p>
                    <a href="#">OTP 설정하러 가기</a>
                    <img src="/img/otp.png" alt="">
                </div>
                <div class="notice_tab">
                    <ul class="tab_menu">
                        <li class="on"><a href="#">이용안내</a></li>
                        <li><a href="#">맞춤메뉴</a></li>
                    </ul>
                    <ul class="tab_list_wrap">
                        <li class="list on"><a href="/notice">공지사항</a></li>
                        <li class="list"><a href="/notice">서비스종합안내</a></li>
                        <li class="list"><a href="/notice">이용약관</a></li>
                        <li class="list"><a href="/notice">이용시간</a></li>
                        <li class="list"><a href="/notice">이용한도</a></li>
                        <li class="list"><a href="/notice">OTP서비스 안내</a></li>
                        <li class="list"><a href="/notice">보안프로그램설치</a></li>
                    </ul>
                </div>
                <div class="security">
                    <i class="fa-solid fa-shield"></i>
                    <a href="#">인증보안센터 바로 가기</a>
                </div>
            </div>
            <div class="right">
                <div class="center">
                    <h2 class="title">공지사항</h2>
                    <div class="wrap">
                        <!-- <div class="total_num"></div> -->
                        <div class="sear_wrap">
                            <select name="n_category" id="n_category">
                                <option value="전체">전체</option>
                                <option value="제목">제목</option>
                                <option value="내용">내용</option>
                            </select>
                            <input type="text" name="search" class="search" placeholder="검색어를 입력해 주세요.">
                            <button class="sear_btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </div>
                    <div class="notice_list_wrap">
                        <div class="h_line">
                            <div class="no">번호</div>
                            <div class="title">제목</div>
                            <div class="date">등록일</div>
                            <div class="review">조회수</div>
                        </div>
                        <% for(let i=0; i<ntiData.length; i++){ %>
                            <div class="notice_list">
                                <p class="notice_no"><%- ntiData[i].notice_no %></p>
                                <p class="notice_title"><a href="/notice/detail/<%- ntiData[i].notice_no %>"><%- ntiData[i].notice_title %></a></p>
                                <p class="notice_date"><%- ntiData[i].notice_date.substring(0,10) %></p>
                                <p class="notice_review"><%- ntiData[i].notice_review %></p>
                            </div>
                        <% } %>
                    </div>
                    <a class="go_notice" href="/admin/notice">공지사항 등록하러 가기</a>
                    <div class="notice_info">
                        <h3 class="title">이용안내</h3>
                        <div class="box">
                            <p><span>ㆍ</span>기업인터넷뱅킹 사용 고객을 위한 공지사항입니다.</p>
                            <p><span>ㆍ</span>서비스 시간 안내 및 변경 사항에 대한 내용을 안내 드립니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- js -->
    <script src="/js/tab_menu.js"></script>
</body>
</html>