<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 상세페이지</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- 웹폰트 및 아이콘 -->
    <%- include("common/icon_font.ejs") %>
</head>
<body>
    <!-- 상단영역 -->
    <%- include("common/header.ejs") %>
    <!-- 중간영역 -->
    <div id="container">
        <div class="detail_page notice_wrap">
            <!-- 공지사항 왼쪽 메뉴 -->
            <%- include("common/notice_left.ejs") %>
            <!-- 공지사항 오른쪽 상세페이지 -->
            <div class="right notice_detail">
                <div class="center">
                    <h2 class="title">공지사항</h2>
                    <div class="nt_dt_top">
                        <h3 class="nt_title"><%-ntiData.notice_title %></h3>
                        <div class="info">
                            <p class="date">등록일 : <%- ntiData.notice_date.substring(0,10) %></p>
                            <p class="review">조회수 : <%- ntiData.notice_review %></p>
                        </div>
                    </div>
                    <!-- 본문 -->
                    <div class="notice_big_box">
                        <p class="title"><%- ntiData.notice_title %></p>
                        <div class="context"><%- ntiData.notice_context %></div>
                    </div>
                    <div class="btn_wrap">
                        <a class="list_btn" href="/notice">목록</a>
                        <!-- 관리자만 볼 수 있는 수정 / 삭제 버튼 -->
                        <% if(userData){ %>
                            <% if(userData.join_id == "admin"){ %>
                                <a class="upt_btn" href="/notice/update/<%- ntiData.notice_no %>">수정</a>
                                <a class="del_btn" href="/notice/delete/<%- ntiData.notice_no %>">삭제</a>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 하단영역 -->
    <%- include("common/footer.ejs") %>
    <!-- js -->
    <script src="/js/del_btn.js"></script>
</body>
</html>